<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="metadata=res://*/EntityModel.DSABankModel.csdl|res://*/EntityModel.DSABankModel.ssdl|res://*/EntityModel.DSABankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=As-KNATZ-US;initial catalog=DSABankDatabase;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAppointmentServices" />
        <binding name="BasicHttpsBinding_IUserServices">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IUserServices" />
        <binding name="BasicHttpBinding_ILogServices" />
        <binding name="BasicHttpsBinding_ILogServices">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ITransactionServices" />
        <binding name="BasicHttpsBinding_ITransactionServices">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpsBinding_IAppointmentServices">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dsabankwebservices.azurewebsites.net/LogServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILogServices"
        contract="LogServices.ILogServices" name="BasicHttpBinding_ILogServices" />
      <!--<endpoint address="https://dsabankwebservices.azurewebsites.net/LogServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ILogServices"
        contract="LogServices.ILogServices" name="BasicHttpsBinding_ILogServices1" />-->
      <!--<endpoint address="http://dsabankwebservices.azurewebsites.net/TransactionServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransactionServices"
        contract="TransactionServices.ITransactionServices" name="BasicHttpBinding_ITransactionServices1" />-->
      <endpoint address="https://dsabankwebservices.azurewebsites.net/TransactionServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_ITransactionServices"
        contract="TransactionServices.ITransactionServices" name="BasicHttpsBinding_ITransactionServices" />
      <endpoint address="http://dsabankwebservices.azurewebsites.net/AppointmentServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAppointmentServices"
        contract="AppointmentServices.IAppointmentServices" name="BasicHttpBinding_IAppointmentServices1" />
      <!--<endpoint address="https://dsabankwebservices.azurewebsites.net/AppointmentServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IAppointmentServices"
        contract="AppointmentServices.IAppointmentServices" name="BasicHttpsBinding_IAppointmentServices" />-->
      <!--<endpoint address="http://dsabankwebservices.azurewebsites.net/UserServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
        contract="UserServices.IUserServices" name="BasicHttpBinding_IUserServices1" />-->
      <endpoint address="https://dsabankwebservices.azurewebsites.net/UserServices.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUserServices"
        contract="UserServices.IUserServices" name="BasicHttpsBinding_IUserServices" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>