<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="metadata=res://*/EntityModel.DSABankModel.csdl|res://*/EntityModel.DSABankModel.ssdl|res://*/EntityModel.DSABankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:w9xy2yky87.database.windows.net,1433;initial catalog=DSABankDatabase;persist security info=True;user id=NathanZwelibanziKhupe@outlook.com@w9xy2yky87.database.windows.net;password=mcastQWERTY56306;MultipleActiveResultSets=True;App=EntityFramework&quot;"
    providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking"
        type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web"/>
    </httpModules>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CurrencyConvertorSoap" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CurrencyConvertorSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
        binding="basicHttpBinding" bindingConfiguration="CurrencyConvertorSoap"
        contract="CurrencyConvertorService.CurrencyConvertorSoap" name="CurrencyConvertorSoap" />
      <endpoint address="http://www.webservicex.net/CurrencyConvertor.asmx"
        binding="customBinding" bindingConfiguration="CurrencyConvertorSoap12"
        contract="CurrencyConvertorService.CurrencyConvertorSoap" name="CurrencyConvertorSoap12" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking"
        type="Microsoft.ApplicationInsights.Extensibility.Web.RequestTracking.WebRequestTrackingModule, Microsoft.ApplicationInsights.Extensibility.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

</configuration>
