@using WebPortal.Models
@model  AccountViewModel

@{
    ViewBag.Title = "Index";
}

<div id="detailModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class=" glyphicon glyphicon-remove"></i></span>
                </button>
                <h4 class="modal-title">Account Details</h4>
            </div>
            <div id="detailBody" class="modal-body well"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="editModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class=" glyphicon glyphicon-remove"></i></span>
                </button>
                <h4 class="modal-title">Edit User Details</h4>
            </div>
            <div id="editBody" class="modal-body well">
                @*load Edit Partial View Here*@
            </div>
            <div class="modal-footer">
                <button id="save-button" type="button" class="btn btn-warning">Save changes</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div id="createModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class=" glyphicon glyphicon-remove"></i></span>
                </button>
                <h4 class="modal-title">Add Bank Account</h4>
            </div>
            <div id="createBody" class="modal-body well">
                @*load Create Partial View Here*@
            </div>
            <div class="modal-footer">
                <button id="create-button" type="button" class="btn btn-warning">Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h2>My Balances</h2></div>
    <div class="panel-body">
        <div class="input-group col-md-3">
            <input type="text" placeholder="Search" class="form-control input-sm">
            <span class="input-group-btn">
                <button class="btn btn-default btn-sm" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                    Search
                </button>
            </span>
        </div>
        <div id="pagedList">
            @Html.Partial("_PagedList", Model.AccountsPagedList)
        </div>
    </div>
</div>
<script>
    var ACCOUNT_MANAGER = {
        BindGridButtonEvents: function () {
            $(".bttnDetail").on("click", function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $("#detailBody").load(url, function () {
                    $("#detailModal").modal('show');
                });
            });

            $(".bttnEditThis").on("click", function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $row = $(this).closest("tr");

                $("#editBody").load(url, function () {
                    $("#editModal").modal('show');
                });
            });

            $(".bttnNew").on("click", function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $("#createBody").load(url, function () {
                    $("#createModal").modal('show');
                });
            });
        },
        Init: function () {
            this.BindGridButtonEvents();
            $('#createModal').on('click', '#create-button', function () {
                $('#createform').submit();
            });

            $('#editModal').on('click', '#save-button', function () {
                $('#editform').submit();
            });
            console.log("ACCOUNT_PROCESSING Initiated");
        }
    };
    $(function () {
        ACCOUNT_MANAGER.Init();
    });
</script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>