
@{
    ViewBag.Title = "Server Error";
}
<div class="jumbotron">
    <hgroup>
        <h1>Error: @Response.StatusCode</h1>
        <h2>Description: @Response.StatusDescription</h2>
        <h3>An error occurred while processing your request.</h3>
    </hgroup>
</div>

