<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="metadata=res://*/EntityModel.DSABankModel.csdl|res://*/EntityModel.DSABankModel.ssdl|res://*/EntityModel.DSABankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AS-KNATZ-US;initial catalog=DSABankDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="DSABusinessServices.UserAccount.UserServices">
        <endpoint address="" binding="basicHttpBinding" contract="DSABusinessServices.UserAccount.IUserServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/DSABusinessServices/UserServices/" />
          </baseAddresses>
        </host>
      </service>
      <service name="DSABusinessServices.Navigation.NavigationServices">
        <endpoint address="" binding="basicHttpBinding" contract="DSABusinessServices.Navigation.INavigationServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/DSABusinessServices/NavigationServices/" />
          </baseAddresses>
        </host>
      </service>
      <service name="DSABusinessServices.BankTransaction.TransactionServices">
        <endpoint address="" binding="basicHttpBinding" contract="DSABusinessServices.BankTransaction.ITransactionServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/DSABusinessServices/TransactionServices/" />
          </baseAddresses>
        </host>
      </service>
      <service name="DSABusinessServices.BankAccount.AccountServices">
        <endpoint address="" binding="basicHttpBinding" contract="DSABusinessServices.BankAccount.IAccountServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/DSABusinessServices.BankAccount/AccountServices/" />
          </baseAddresses>
        </host>
      </service>
      <service name="DSABusinessServices.Log.LogServices">
        <endpoint address="" binding="basicHttpBinding" contract="DSABusinessServices.Log.ILogServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/LoggingServices/" />
          </baseAddresses>
        </host>
      </service>
      <service name="DSABusinessServices.Appointment.AppointmentServices">
        <endpoint address="" binding="basicHttpBinding" contract="DSABusinessServices.Appointment.IAppointmentServices">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/DSABusinessServices.Appointment/AppointmentServices/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
</configuration>