<div class="row">
    <hr class="col-md-12" />
    <div class="col-md-5">
        <h3>Useful Links</h3>
        <ul>
            <li>
                <a href="">item1</a>
            </li>
            <li>
                <a href="">item2</a>
            </li>
            <li>
                <a href="">item3</a>
            </li>
            <li>
                <a href="">item4</a>
            </li>
            <li>
                <a href="">item5</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <h3>
            Options
        </h3>
        <ul>
            <li>
                <a href="">item1</a>
            </li>
            <li>
                <a href="">item2</a>
            </li>
            <li>
                <a href="">item3</a>
            </li>
            <li>
                <a href="">item4</a>
            </li>
            <li>
                <a href="">item5</a>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Connect & Share</h3>
        <ul>
            <li>
                <a href="#">Blog</a>
            </li>
            <li>
                <a href="https://www.facebook.com/">Facebook</a>
            </li>
            <li>
                <a href="https://www.google.com/">Google+</a>
            </li>
            <li>
                <a href="https://twitter.com/">Twitter</a>
            </li>
            <li>
                <a href="#">Newsletter</a>
            </li>
            <li>
                <a href="#">RSS</a>
            </li>
        </ul>
        <div class="pull-left">
            <i class="glyphicon glyphicon-phone-alt"></i> Call Us :<a> +356 799-456-22</a>
            <br />
            <i class="glyphicon glyphicon-envelope"></i> Email :<a href="email:support@knatz.com"> support@knatz.com</a>
        </div>
    </div>
</div>
