@using WebPortal.Helpers
@model WebPortal.Models.MenuViewModel
<div class="navbar-collapse collapse">

    <ul class="nav navbar-nav">
        @Html.RenderMenu(Model)
    </ul>

    <ul class="nav navbar-nav navbar-right">
        @if (Request.IsAuthenticated)
        {
            <li>
                @Html.ActionLink("Logout", "Logout", "Accounts")
            </li>
        }
        else
        {
            <li>
                @Html.ActionLink("Register", "Register", "Accounts")
            </li>
            <li>
                @Html.ActionLink("Login", "Login", "Accounts")
            </li>
        }
    </ul>
</div>