@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>@ViewBag.Title DSA Bank PLC</h1>
    <h3>@ViewBag.Message</h3>
    <p class="lead">
        Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
    </p>
</div>
<p>
    Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut laoreet ac, aliquam sit amet justo nunc tempor, metus vel.
</p>